<% if current_user %>

    <%= form_for [list, item] do |f| %>
	
     <div class= "col-md-4"> <%= f.text_field :name, class: 'newItemButton', placeholder: "New Todo List" %></div>
	 <div class="col-md-4"></div>
	  <div class= "col-md-4"><%= f.submit "Add", class: 'btn btn-default btn-xs' %></div>
	  <% end%>
<% end %>
