// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-color: red;
}

.jumbotron {
	margin-top: 80px;
	margin-bottom: 30px;
	background-color: #eee;
	text-align: center;
}

html body {
	background-color:#333;
	color: #FFFAF0;
}

.jumbotron {
	margin-top: 80px;
	margin-bottom: 30px;
	background-color: #eee;
	text-align: center;
	background-color:#333;
}

.lead {
	margin-top: 20px;
	width:auto;
	padding-left:100px;
	padding-right:100px;
	text-align: center;
}

.list_buttons {
	margin-right: 40px;
	list-style-type:none; 
	display: inline;
}

.listButtonContainer {
	margin-top:20px;
	height:50px;
}

.itemsContainer {
	margin-left: 200px;
	width:600px;
	height:auto;
}

.col-md-4 {
	padding-top:10px;
	height:40px;
}

.list_nav {
	display: inline;
}

.col- {
}

.itemsContainer span{
	color:black;
}

.newItemButton {
	width:150px;
}

.bipInput {
	background-color:#333;
}


